::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover);
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
    background: var(--background);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
    border-radius: 10px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
    background: var(--background);
    border-radius: 10px;
}